.badge{
  background-color: tomato;
  width: 20px ;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge_sm {
    display: flex;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    margin-right: -10px;
  }